body{
    margin: 0;/*Letras*/
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
h1{
    background-image: linear-gradient(to bottom right, #1ab6b6, #4cac6e);
    padding: 25px;
    
}

input{
    height: 24px;
    border: 1px solid rgb(143, 167, 12);
    border-radius: 5px;
}
input[type=submit],
input[type=button],
input[type=file]{
    background-color: rgb(9, 203, 252);
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bolder;
    height: 32px;
    cursor: pointer;
    position: relative;
}
input[type=submit]:hover,
input[type=button]:hover,
input[type=file]:hover{
color: rgb(143, 167, 12);
background-color: #ffffff;
}

input[type=text]:valid,
input[type=date]:valid,
input[type=file]:valid,
input[type=url]:valid,
input[type=tel]:valid{
    background-color: rgb(112, 211, 236);
    color: black;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    cursor: pointer;
}
.container{/*Fonde desgradado*/
    background-image: linear-gradient(to bottom right, #1ab6b6, #4cac6e);
    padding: 28%;

}
